@font-face {
  font-family: "Tenor Sans";
  src:url("Group4/Fonts/TenorSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Heebo";
  src:url("Group4/Fonts/Heebo-Regular.ttf") format('truetype');
}

body {
  background-color: #FEFAF6;
}

.header-navbar {
  color: #102C57;
  background-color: #FEFAF6;
  position: sticky;
  top: 0px;
  z-index: 1000;

}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header-photo {
  margin-top: 30px;
  width: 50px;
}

.header-icons {
  display: flex;
  gap: 15px;
}

.header {
  font-size: 36px;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  flex-grow: 1;
  margin-top: 40px;
}
.navbar {
  font-family: Heebo;
  border-top: 2px solid #102C57;
  border-bottom: 2px solid #102C57;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 30px;
  margin-bottom: 10px;
  top: 78px;
  z-index: 1000;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  gap
  font-size: 18px;
  flex-wrap: wrap;
}

.navbar li {
  position: relative;
  padding: 0 20px;
}

.navbar li:not(:last-child)::after {
  content: "|";
  color: #102C57;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.hamburger {
  display: block;
}

a {
  color: #102C57;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#welcome {
  text-align: right;
  font-family: Heebo;
  color: #102C57;
  font-size: 25px;
  margin-top: 0;
}

.Products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 0;
}
.Product_Card {
  text-align: center;
  font-family: Heebo;
  color: #102C57;
}
.Product_Name{
  margin-bottom: 0;
}

.Product_Image {
  border: 3px #102C57 solid;
  border-radius: 10px;
  width: 200px;
  height: auto;
  display: block;
  margin:10px auto;
}

.Product_Description {
  margin-top: 0;
}
.Presave {
  background-color: #102C57;
  color: #FEFAF6;
  font-family: Heebo;
  border-radius: 10px;
}

.ending {
  color: #102C57;
  font-family: Heebo;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #102C57;
  padding: 7px;
}

h2 {
  font-family: "Tenor Sans", "Tenor Sans";
  color: #102C57;
  text-align: center;
  margin: 0px;
}

.photo {
  margin-left: 8px;
  width: 20px;
}

#sign-in {
  color: #102C57;
  font-family: Heebo;
  text-align: center;
}

#signup {
  text-decoration:underline;
}
#sign-up {
  color: #102C57;
  font-family: Heebo;
  text-align: center;
}

#signin {
  text-decoration:underline;
}

form {
  color: #102C57;
  font-family: "Tenor Sans", "Tenor Sans";
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.row button {
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "Tenor Sans", "Tenor Sans";
  background-color: #102C57;
  color: #FEFAF6;
  border-radius: 10px;

}
label {
  margin-right: 10px;
  width: 100px;
}

input {
  border: #102C57 solid 2px;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  background-color: #FEFAF6;
}

#form-container {
  margin-left: 90px;
  display: flex;
  gap: 600px;
}

/*Categories*/
.category {
  text-align: center;
  color: #102C57;
  font-family: Heebo;
  font-size: 30px;
  font-weight: bold;
}

.filter {
    text-align: center;
  color: #102C57;
  font-family: Heebo;
  font-size: 20px;
  font-weight: bold;
}
#dropdown {
  width: 150px;
  font-family: Heebo;
  margin-right: 40px;
}


