<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gili's Jewelery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}"/>
  {% block css%}
  {% endblock %}
</head>
<body>
{% include ('components/navigation.html') %}

{% block content %}
{%endblock%}

<script src = "{{ url_for('static', filename='js/navigation.js')}}"></script>
<!--<script src = "product-page.js"></script>-->
<!--  footer-->
<footer class = "ending">
{%  include ('components/footer.html') %}
</footer>
</body>
</html>
