<div class="header-navbar">
<!--   header and navbar combined-->
  <div class="header-top">
  <div class="header-icons">
      <a href="https://www.instagram.com/gilisjewelry?igsh=bTYzamM1aW9wYjJ6" target="_blank"> <img src="{{ url_for('static', filename='elements/instagrambw.png')}}" class="header-photo" alt = "Instagram logo"> </a>
<!--      instagram logo-->
      <a href="/contactus"><img src="{{ url_for('static', filename='elements/phone.png')}}" class="header-photo" alt = "Contact us logo"></a>
<!--      contact logo-->
      <a href="/branches"><img src="{{ url_for('static', filename='elements/location.png')}}" class="header-photo" alt = "Location logo"> </a>
<!--      locations logo-->
    </div>
    <header class = "header">Gili's Jewelery</header>
    <a href="/signin"><img src="{{ url_for('static', filename='elements/profile.png')}}" class="header-photo" alt ="Account logo"></a>
<!--     sign in logo-->
    <span class="hamburger">☰</span>
<!--     for smaller screens-->
  </div>

  <nav class = navbar>
<!--    navigation bars + links-->
    <ul>
      <li><a href="/sale"> Sale</a></li>
      <li><a href="/bracelets"> צמידים</a></li>
      <li><a href="/rings">טבעות</a></li>
      <li><a href="/necklaces">שרשראות</a></li>
      <li><a href="/earings">עגילים</a></li>
      <li><a href="/homepage">דף הבית</a></li>
    </ul>
  </nav>
</div>
<br>
