.product-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.product-image img{
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #002f5f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.product-info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

#product-info h1 {
  font-family: Heebo, sans-serif;
  font-size: 24px;
  color: #002f5f;
  margin-bottom: 15px;
  text-align: right;
}

#product-info div {
  font-family: Heebo, sans-serif;
  font-size: 15px;
  color: #333;
  margin-bottom: 5px;
  text-align: right;
}
/*Product form*/
form {
  font-family: Heebo, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

form label {
  font-weight: bold;
  color: #002f5f;
  text-align: right;
  width: 100%;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse
}

select {
  font-family: Heebo, sans-serif;
  direction: rtl;
  padding: 11px;
  font-size: 16px;
  border: 1px solid #002f5f;
  border-radius: 25px;
  width: 300px;
}

form button {
  font-family: Heebo, sans-serif;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #002f5f;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

form button:hover {
  background-color: #004080;
}

@media (max-width: 780px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    order: -1; /* Ensure the image stays on top */
    margin-bottom: 20px;
  }

  .product-info {
    max-width: 100%;
    align-items: center;
  }

  select {
    width: 100%;
  }

  form button {
    width: 100%;
    align-self: center;
  }
}
