{% extends 'base.html' %}

{% block content %}
  <h2>Welcome!</h2>
    <form action = '/signup' method = "POST">
<!--     sign up form-->
      <div class = "formcontainer">
       <p> ?פעם ראשונה כאן</p>
       <p class = "sign"> להרשמה</p>
       <div class ="row">
         <input type="text" id="first-name" name="first-name">
         <label for ="first-name">שם פרטי</label>
       </div>
       <div class ="row">
         <input type="text" id="last-name" name="last-name">
         <label for ="last-name">שם משפחה</label>
       </div>
       <div class ="row">
         <input type="email" id="email-for-sign-up" name="email">
         <label for ="email-for-sign-up">כתובת אימייל</label>
       </div>
       <div class = "row">
         <input type="password" id="passwordsu" name="password">
         <label for="passwordsu">סיסמא</label>
       </div>
       <div>
         <input type="button" id ="signupbtn" value="הרשמה" class = "btn">
         <p><a href="/signin">את כבר רשומה? לכניסה עם אימייל וסיסמא לחצי כאן</a> </p>
       </div>
      </div>
    </form>

<script src = "{{ url_for('signup.static', filename='js/signup.js')}}"></script>
{% endblock  %}



